body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #73d1b6;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #333;
    color: white;
    
  }
    
  
  
  nav ul li {
    display: inline;
    margin-right: 15px;
    padding: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color: hsl(211, 43%, 90%);
    background-color: rgb(206, 27, 206);
    border-radius: 5px;
  }
  
  h1 {
    color: #333;
  }.home{
    
    max-width: 1200px; /* Adjust width as needed */
    margin: 0 auto;    /* Centers the content */
    padding: 20px;     /* Adds some spacing */
    box-sizing: border-box;
    
  }.cont{
    background-color: green;
  }.about{
    background-color: dodgerblue;
  }.sev{
    background-color: aqua;
  }.more1{
    background-color: blueviolet;
  }.lolo{
    max-width: 1200px;
    margin: 0 auto;    
    padding: 20px;     
    box-sizing: border-box;
    background-color: yellow;
    text-align: center;
  }.hada{
    background-color: yellow;


  }.gg{
    background-color: blue;
  }
  